.react-calendar {
    width: 500px;
}

.appointment-button {}

.button-container {
    padding: 30px;
}

.doctors-details {
    margin-left: 55px;
    width: 90%;
    height: 86%;
    text-align: center;
    border: 1px solid grey;
    border-radius: 40px;
    background: #E6E6E6;
}

.doctor-image {
    width: 248px;
    height: 190px;
}

.calender-doctor-details {
    padding: 20px;
}

.book-appointment {
    text-align: end;
    padding-right: 26px;
    padding-bottom: 20px;
}

.react-calendar {
    width: 100%;
}

.react-calendar button {
    margin-bottom: 20px;
}

.calender-container {
    text-align: center;
    margin-top: 1% !important;
    /* padding-left: 10% !important; */
}

.button-styling {
    background: #E6E6E6 !important;
    color: #096BEE !important;
    border-radius: 20px !important;
    width: 180px;
    min-width: 160px;
}

.button-styling:hover {
    background-color: #36f7ee7a !important;
}
.button-styling:focus{
    background-color: #36f7ee7a  !important;
    box-shadow: 0 0 0 0.25rem #b3b3b380 !important;
}

.react-calendar__navigation {
    padding-top: 15px;
}

.react-calendar__month-view__weekdays {
    margin-bottom: 20px;
}

.react-calendar__viewContainer {
    padding: 20px;
}

.react-calendar__tile {
    font-size: 24px;
}

.react-calendar__month-view__weekdays {
    font-size: 24px;
}

.react-calendar__navigation__label__labelText {
    font-size: 24px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: white !important;
}

.modal-title {
    text-align: center;
    font-weight: bolder;
}

.loginImg {
    width: 26rem;
}

#loginButton {
    background-color: rgb(0, 25, 255);
    font-weight: bolder;
}

#loginButton:hover {
    background-color: #0148b3;
    font-weight: bolder;
}

.nav-link {
    border: 0px;
    color: #1209a5!important;
    padding: 0px !important;
    display: inline !important;
}

.registerImg {
    width: 23rem;
    height: 22rem;
}
.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
    background-color: yellow;
}

@media screen and (min-width:768px) and (max-width: 992px){
    .doctor-image{
        width: 180px;
        height: 150px;  
    } 
    .doctors-details{
        margin-left: 20px;
    }
}
@media screen and (max-width:768px){
    .doctors-details{
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    .react-calendar__tile {
        font-size: 20px;
    }
    .react-calendar__month-view__weekdays{
        font-size: 14px;
    }
}
@media screen and (max-width:460px){
    .react-calendar__month-view__weekdays{
        font-size: 12px;
    }
    .doctor-image {
        width: 180px;
        height: 150px;
    }
}