body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.footer {
    width: 100%;
    height: 52px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    -webkit-backdrop-filter: blur(48px);
    backdrop-filter: blur(48px);
    font-size: 12px;
    color: hsla(0, 0%, 100%, .5);
    z-index: 20;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.footer__inner {
    width: 100%;
    height: 100%;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.footer-leave-btn-container {
    max-width: 130px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
}

#wc-container-right {
    z-index: 20;
}

#transcription-window,
#wc-container-right {
    color: #666;
    position: relative;
    background-color: #fff;
    height: 33rem;
}

.chat-container--normal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    min-height: 266px;
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

.chat-container {
    background: #fff;
}

.window-content-bottom {
    border-radius: 0 0 8px 8px;
}

.chat-header__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #afadad;
    padding: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.chat-header__title {
    margin: 0 auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
}

.chat-container__chat-list {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.chat-box__chat-textarea {
    width: 100%;
    background: #fff;
    border: none;
    padding: 0 10px;
    font-size: 13px;
    resize: none;
    height: 85px;
}

.window-content-bottom {
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #afadad;
}