.landing-page-image{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.image{
    height: 300px;
}
.carousel-inner {
    padding: 1em !important;
  }
  .card {
    margin: 0 0.5em !important;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18) !important;
    border: none !important;
    border-radius: 0px !important;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1 !important;
    width: 6vh !important;
    height: 6vh !important;
    border-radius: 50% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
  }
  @media screen and (min-width: 768px) {
    .carousel-item {
      margin-right: 0 !important;
      flex: 0 0 33.333333% !important;
      display: block !important;
    }
    .carousel-inner {
      display: flex !important;
    }
  }
  .card .img-wrapper {
      max-width: 100% !important;
      height: 13em !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
  }
  .card img {
      max-height: 100% !important;
      height: 260px !important;
  }
  .react-multi-carousel-item{
    margin-left: 20px;
    margin-right: 20px;

  }
  .consultation{
      height: 200px;
      background: #414BB2;
      color: white;
      border-radius: 10px;
  }
  .row{
      margin: 0 !important;
  }
  @media screen and (max-width: 767px) {
    .card .img-wrapper {
      height: 17em !important;
    }
  }